@model IEnumerable<CadastrosFiap.APP.ViewModels.AlunoTurmaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Alunos e Turmas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Aluno Turmas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlunoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurmaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlunoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurmaId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlunoId">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.AlunoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
